*{
    font-family: roboto;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* ------------------ hero ------------------- */

/* ----hero header */
.hero {
    background-color: #1F2937;
    height: 80vh;
}

.hero-container{
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.hero-header{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-header-logo{
    font-size: 24px;
    padding: 25px 0;
}

.nav-ul{
    font-size: 18px;
    display: flex;
    height: 100%;
    align-items: center;
    gap:30px;
}

.nav-li a{
    color: #d3d3d3;

}
.nav-li a:hover{
    color: #fff;
}

/* -----hero main */
.hero-main{
    display: flex;
    width: 100%;
    height: 300px;
}

/* text */
.hero-main-text{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-right: 45px;
}
.hero-main-text *{
    margin: 10px 0;
}
.hero-main-text h1{
    font-size: 48px;
    font-weight: 900;
}

.hero-main-text .button{
    display: inline-block;
    font-weight: 700;
    background-color:#3882F6;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    padding: 9px;
    color: #fff;
}
.hero-main-text .button:hover{
    background-color:#679ff9;
}



/* image */
.hero-main-image{
    flex:5;
    width: 100%;
    height: 100%;
}

.hero-main-image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}






/* ------------------ information ------------------- */
.information{
    height: 60vh;
}

.information-header h2{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}


/* card */
.card-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{
    width: 180px;
}

.card-image{
    border-radius: 10px;
    height: 180px;
    padding-bottom: 10px;
}
.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card p{
    color: #00000084;
    text-align: center;
}


/* ------------------ Quots ------------------- */

.quots{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 55vh;
    margin-bottom: 10px;
}

.quots-container{
    width: 900px;
}

.main-quots{
    color: #1f2937;
    font-size: 40px;
    font-weight: 300;
}

.quots-creator{
    font-size: 30px;
    font-weight: 500;
    text-align: end;
}


/* ------------------ call action ------------------- */

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.call-container{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    background-color: #3882f6;
    width: 1100px;
    height: 150px;
}


.call-container .button{
    color: white;
    font-weight: 600;
    display: inline-block;
    border: 3px solid white;
    border-radius: 8px;
    padding: 5px 30px;
}

.call-container .button:hover{
    background-color: rgba(0, 0, 0, 0.121);
}



/* ------------------ footer ------------------- */

.footer{
    height: 10vh;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 16px;

}