*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}



/* -------------------------header */
body{
    font-family: "Poppins", sans-serif;
    /* height: 400vh; */
}


    header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60, 69, 241);
    padding: 0 40px;
    height: 60px;
}

header div{
    padding: 5px;
}

/* logo ------ */
header .logo h1{
    font-size: 25px;
    color: #fff;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: aquamarine; */

}
header .logo img{
    height: 35px;
}

/* .account ------*/
header .account{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

header .account a{
    padding: 9px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}

header .account .sign-in:hover{
    background-color: rgba(0, 0, 0, 0.193);
}


header .account .account-login{
    color: rgb(0, 0, 0);
    background-color: #fff;

}
header .account .account-login:hover{
    background-color: #ffffffc0;

}
/* --------------------- header end */

/* ------------------------main  and sidebar ----------------------- */
.container{
    background-color: aqua;
    display: flex;
    min-height: 100vh;
}


/* ---------- sidebar */
.sidebar{
    background-color: rgb(60, 63, 68);
    flex: 2;
    padding: 5px 20px;
    overflow: auto;
}
.sidebar h2{
    color: #fff;
}
.sidebar .sidebar-content a{
    display: block;
    color: rgb(255, 255, 255);
    padding: 5px 0;
}
.sidebar .sidebar-content a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}




/* ----------- main */
main{
    position: relative;
    right: 0;
    top: 0;
    background-color: rgb(230, 230, 230);
    padding: 5px 20px;
    flex: 13;
    padding-bottom: 20px;
}

main .content h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.237) ;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

main .content .main-content{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-content: space-between;
    gap: 15px;
}

/* card */
main .content .main-content a{
    display: block;
    background-color:#fff;
    border-radius: 7px;
    width: 300px;
    height: 380px;
box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.39);
-webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.39);
-moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.39);
}

main .content .main-content a .gambar{ /*img*/
    width: 100%;
    margin: 0 auto;
    height: 200px;
}
main .content .main-content a .gambar img{ /*img*/
    width: 100%;
    border-radius: 8px;
    height: 200px;
}

main .content .main-content a .lower-card{
    /* background-color: antiquewhite; */
    padding: 5px 12px;
    color: black;
}


main .content .main-content a .lower-card .card-description{
    /* background-color: antiquewhite; */
    color: rgba(0, 0, 0, 0.601);
    padding: 5px 0 ;
    font-size: 0.8rem;
    height: 60px;
    overflow: auto;
}


main .content .main-content a .lower-card .button{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    margin-top: 5px;
    background-color: rgb(60, 69, 241);
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
}
main .content .main-content a .lower-card .button:hover{
    background-color: rgba(60, 69, 241, 0.794);
}



/* ------------------------main  and sidebar end----------------------- */

/* ------------------------Footer ----------------------- */

footer {
    background-color: black;
}

footer p{
    padding: 20px 0;
    text-align: center;
    color: #fff;
}


/* ------------------------Footer end----------------------- */