:root {
  --primary: #a65e2e;
  --bg: #2c1a1a;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* --------------------- navbar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: hsl(0, 26%, 14%, 0.8);
  border-bottom: 1px solid var(--primary);
  color: #fff;
  z-index: 999;
}

.navbar-logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}
.navbar-logo span {
  color: var(--primary);
}

.navbar-nav a {
  color: #fff;
  display: inline-block;
  margin: 0 0.4rem;
}
.navbar-nav a:hover {
  color: var(--primary);
}
.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid var(--primary);
  z-index: 0;
  transform: scaleX(0);
  transition: 0.2s all;
}
.navbar-nav a:hover:after {
  transform: scaleX(0.5);
}

.navbar-icon a {
  color: #fff;
  display: inline-block;
  margin: 0 0.4rem;
}
.navbar .navbar-icon a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* --------------------- navbar end */

/* ------- tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  .navbar-nav {
    position: absolute;
    padding: .5rem 0;
    /* display: flex; */
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    transition: .2s all;
  }
  .navbar-nav.active {
    right: 0;
  }

  .navbar-nav a::after{
    content: "";
    transform-origin: 0 0;
  }
  .navbar-nav a:hover::after{
    transform: scaleX(0.2);
  }


  .navbar-nav a{
    padding: .5rem 2rem;
    display: block;
    color: black;
    font-size: 2rem;
  }

  #menu {
    display: inline-block;
  }
}



/* ------- handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}






