:root {
  --primary: #a65e2e;
  --bg: #2c1a1a;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* --------------------- navbar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: hsl(0, 26%, 14%, 0.8);
  border-bottom: 1px solid var(--primary);
  color: #fff;
  z-index: 999;
}

.navbar-logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}
.navbar-logo span {
  color: var(--primary);
}

.navbar-nav a {
  color: #fff;
  display: inline-block;
  margin: 0 0.4rem;
}
.navbar-nav a:hover {
  color: var(--primary);
}
.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid var(--primary);
  z-index: 0;
  transform: scaleX(0);
  transition: 0.2s all;
}
.navbar-nav a:hover:after {
  transform: scaleX(0.5);
}

.navbar-icon a {
  color: #fff;
  display: inline-block;
  margin: 0 0.4rem;
}
.navbar .navbar-icon a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* --------------------- navbar end */

/* --------------------- navbar search form  */
.navbar .search-form{
  position: absolute;
  background-color: #fff;
  top: 100%;
  right: 7%;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: 0 1rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.1s all;
}
.navbar .search-form.active{
  transform: scaleY(1);
}


.navbar .search-form input{
  width: 20rem;
  padding: 1rem 0;
  background: none;
}
.navbar .search-form label{
  color:var(--bg);
  margin-left: 1rem ;
}
/* --------------------- navbar search form end */

/* --------------------- navbar shopping-cart   */
.navbar .shopping-cart-items{
  position: absolute;
  overflow: auto;
  background-color: white;
  top: 100%;
  right: -100%;
  width:30rem;
  height:90vh;
}
.navbar .shopping-cart-items.active{
  right: 0;
}
.navbar .item-in-cart{
  display: flex;
  color: black;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.navbar .shopping-cart-items img{
  flex: 2;
  border-radius: .2rem;
}
.navbar .product-content{
  flex: 8;
  padding: 0 2rem 0 1rem;
}
.navbar .product-content p{
  font-size: .7rem;
  font-weight: 200;
}
.navbar .shopping-cart-items a{
  flex: 2;
  color: black;
}

/* --------------------- navbar shopping-cart end */

/* --------------------- hero */
.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../img/coffe-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(45, 26, 26) 8%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  /* background-color: #ffffff24; */
  padding: 1.4rem 10%;
  max-width: 50rem;
}

.hero .content h1 {
  font-size: 3.4rem;
  line-height: 1.2; /*ini baru nih */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: 200;
  mix-blend-mode: difference; /*ini baru nih */
}

.hero .content .cta {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 1rem 2.5rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.5rem;
  font-weight: 700;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* --------------------- hero end */

/* --------------------- about */
.about,
.menu-section,
.products,
.contact {
  padding: 6rem 7% 3rem;
}

.about h2,
.menu-section h2,
.products h2,
.contact h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.about h2 span,
.menu-section h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .about-img {
  flex: 1 1 35rem; /*ini baru nih */
}
.about .about-img img {
  width: 100%;
}
.about .content {
  flex: 1 1 35rem; /*ini baru nih */
  margin-left: 2rem;
}
.about .content h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.about .content p {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 200;
}
/* --------------------- about end */

/* --------------------- menu  */
.menu-section h2,
.products h2,
.contact h2 {
  margin-bottom: 0.5rem;
}

.menu-section p,
.products p,
.contact p {
  margin: auto;
  text-align: center;
  max-width: 40rem;
  line-height: 1.4;
  font-weight: 200;
}

.menu-section .row {
  padding: 6rem 7% 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.menu-section .menu-card {
  text-align: center;
  margin-bottom: 1rem;
}
.menu-section .image-frame {
  margin: auto;
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  /* background-color: #a65e2e; */
}
.menu-section .image-frame img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* --------------------- menu end */


/* --------------------- products */
.products .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
}
.products .product-card {
  width: 20rem;
  border: .1rem solid var(--primary);
  border-radius: .6rem;
  text-align: center;
  padding: 1rem;
}

.products .card-action {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.products .card-action a{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
background-color: rgba(255, 255, 255, 0.082);
}

.products .card-action a svg{
  width: 1.5rem;
  height: 1.5rem;

}


.products .product-image-frame{
  width:100%;
  margin: .5rem 0;
}
.products .product-image-frame img{
  width:100%;
  border-radius: .5rem;
}

.products .product-content .stars{
  margin: .5rem 0;
}
.products .product-content p{
  font-weight: bold;
  font-size: 1.2rem;
}
.products .product-content p span{
  text-decoration: line-through;
  margin-left: .5rem;
  font-size: .8rem;
  font-weight: 300;
}
/* --------------------- products end */

/* --------------------- contanct  */
.contact .row {
  display: flex;
  margin-top: 3rem;
  background-color: #222;
}
.contact iframe {
  flex: 1 1 30rem;
  object-fit: cover;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
  flex: 1 1 30rem;
}

.contact .input-group {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: var(--bg);
  border: 1px solid white;
  width: 80%;
  border-radius: 0.5rem;
}

.contact .input-group input {
  width: 100%;
  padding: 1rem;
  background: none;
  color: white;
  font-size: 1.5rem;
}

.contact form .btn {
  padding: 1rem 3rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
/* --------------------- contanct end */

/* --------------------- footer  */
footer {
  padding: 2rem 0 3rem;
  text-align: center;
  background-color: var(--primary);
}
footer div a {
  color: white;
}

footer .sosial a {
  margin: 1rem;
}
footer .sosial a:hover,
footer .link a:hover {
  color: var(--bg);
}

footer .link {
  margin: 0.8rem 0;
}
footer .link a {
  margin: 0.8rem;
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
}

/* --------------------- footer end */

/* --------------------------------responsive media */
/* ------- tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  .navbar-nav {
    position: absolute;
    padding: 0.5rem 0;
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    transition: 0.2s all;
  }
  .navbar-nav.active {
    right: 0;
  }

  .navbar-nav a::after {
    content: "";
    transform-origin: 0 0;
  }
  .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar-nav a {
    padding: 0.5rem 2rem;
    display: block;
    color: black;
    font-size: 2rem;
  }

  #menu {
    display: inline-block;
  }

  .about {
    padding: 10rem 7% 1rem;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .content {
    margin: 0;
  }

  .about .content h3 {
    margin-top: 1rem;
    font-size: 1.8rem;
  }
  .about .content p {
    font-size: 1.5rem;
  }

  .about .about-img img {
    height: 24rem;
    object-fit: cover; /*ini baru nih */
    object-position: center;
  }

  .menu-section .row {
    gap: 1rem;
  }
  .menu-section p,
  .contact p {
    font-size: 1.4rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
}

/* ------- handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
