        *{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "roboto",sans-serif;
}

.container{
    margin: auto;
    width: 60rem;
    padding-bottom: 1rem;
    /* background-color: #f6f6f6; */

}
button{
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.header {
    background-color: #077bbf;
    color:white;
    padding: .8rem 6rem;

}
/* --------------------produck-list-area--------------------- */
.produck-list-area{
    padding:1rem;
    margin: 1rem auto;
}

.produck-list-area h2{
    margin-bottom: .8rem;
}



/* -----------search */
.search{
    display: flex;
    justify-content: start;
    margin: .8rem 0;
}

.search-input{
    outline: none;
    border: none;
    border-radius: 30px;
    height: 2.5rem;
    padding: .8rem 2rem;
    flex: 8;
    background-color: rgb(226, 226, 226);
}
.btn-search{
    height: 2.5rem;
    border-radius: 30px;
    outline: none;
    border: none;
    flex: 1;
    background-color: #077bbf;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}


/* ------------- btn-sort */
.sort{
    display: flex;
    margin: .5rem 0;
    gap: .5rem;
}
.sort article{
    padding: .2rem;
}

/* ---------- list header */

.list-header{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.108);
    padding: .4rem 1rem;
    height: 2.5rem;
    
}
.list-header p{
    border-left: 1px solid black;
    padding-left: 1rem;
}

.list-header-id{flex: 2;}
.list-header-name{flex: 6;}
.list-header-stock{flex: 2;}
.list-header-action{flex: 4;}


/* ------------- list product */
.container-list{
    /* height: 100rem; */
    max-height: 30rem;
    overflow: auto;
    /* background-color: red; */
}

.product{
    display: flex;
    align-items: center;
    background-color: rgba(29, 28, 28, 0.048);
    padding: .4rem 1rem;
    height: 2.5rem;
}
.low-stock{
    color :rgb(209, 199, 0);
}
.out-of-stock{
    color :rgb(241, 0, 0);
}

.product *{
    border-left: 1px solid black;
    padding-left: 1rem;
}

.product-id{flex: 2;}
.product-name{flex: 6;}
.product-stock{flex: 2;}
.product-action{flex: 4;}

.product-action button{
    outline: none;
    border: none;
    padding: .3rem;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    width: 2rem;
    margin: auto .1rem;
    background-color: rgb(213, 213, 213);
    
}


.product-action .delete{
    width: 8rem;
    margin-left: .7rem;
    background-color: red;
    color: white;
}

/* -------------------- produck-list-area end --------------------- */




/* -------------------- add-product area  --------------------- */
.add-product-area{
    padding: 1rem;
    margin: 0 1rem;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
}

.add-product{
    margin: 1rem 0;
    /* background-color: rgb(244, 244, 244); */
}
.add-product article{
    margin-bottom: .5rem;
}
.add-product input{
    width: 30rem;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    height: 2.5rem;
    padding: .8rem 1.5rem;
}
.add-product button{
    background-color: #077bbf;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: 8px;
    color:white;
}
.add-product label{
    display: inline-block;
    width: 7rem;
}

/* -------------------- add-product area end --------------------- */




/* -------------------- footer  --------------------- */
footer{

    background-color: rgb(38, 34, 40);
    color: white;
    padding: 2rem;
    text-align: center;
}
/* -------------------- footer end --------------------- */