*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "roboto",sans-serif;
}

body{
    color:white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rebeccapurple;
    width: 30rem;
    min-height: 20rem;
    padding :2rem;
    border-radius: 10px;
    margin: 3rem 0;

}

h2{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 3rem;
    padding: 2.5rem 0;
    font-size: 30px;
}
h2 img{
    width: 30px;
    margin-left: 0.3rem;
}


.input{
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.todo-input{
    height: 2.8rem;
    border-radius: 30px;
    border:none;
    flex: 3;
    background: transparent;
    outline: none;
    padding-left: 2rem;
}

.btn-add{
    font-size: 18px;
    font-weight: 700;
    flex: 1;
    border:none;
    outline: none;
    height: 2.8rem;
    border-radius: 30px;
    background-color: rgb(255, 189, 66);
}


.todo-container{
    min-height: 3rem;
}
.todo{
    background-color: white;
    color:black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding:.6rem 1.5rem;
    border-radius: 12px;
    margin-bottom: .2rem;
}
.todo p{
    flex:4;
    margin-left: 0.3rem;
}

.todo .done{
    text-decoration: line-through;
    opacity: 0.5;
}
.todo button{
    flex: 1;
    background-color: red;
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    padding :.3rem;
    border-radius: 5px;

}

.cotainer-remove-all{
    display: flex;
    justify-content: center;
}

.remove-all{
    color:white;
    padding:.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-weight: 700;
    margin-top: 1rem;
    background-color: rgb(255, 58, 58);
}